extends layout

block content
    .container
        form(method="post")
            .form-group
                label
                    | Tweet text:
                textarea#tweettext.form-control(name="tweettext")
                    | #{prompt} @jackboxgames #Quiplash http://jackboxgames.com/project/jbpp2/
            .form-group
                button.btn.btn-primary(type='submit')
                    | Tweet!
        .center-block.text-center
            #jumbo.jumbotron
                div.image-container
                    img.preview-image.img-responsive(src='#{image}')
    script.
        var input = document.getElementById("tweettext");
        input.setSelectionRange(0, #{prompt.length});
        input.focus();
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
