body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#jumbo {
  background-color: #333;
  color: #eee;
}
#jumbo p {
  font-size: 16px;
}
#try-header {
  margin: 30px 0px;
}
#try-more {
  margin: 30px 0px;
  font-style: italic;
}

.image-container{
    min-height:300px;
    min-width:400px;
    background-image:url('/images/squares.svg');
    background-repeat:no-repeat;
    background-position:center;
}

.preview-image{
    max-height:300px;
    margin:auto;
}